*{
    padding: 0;
    margin: 0;
    font-family: helvetica, "ws-ctrl-convex", sans-serif;
}


section#box1{
    width: 100%;
    background-image: url(../pictures/bg.jpg);
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color .5s;
}

nav{
    display: table;
    margin: auto;
    margin-top: 15px;
    height: 40px;
    -webkit-transition: margin-left .5s;
}

.menu_a{
    display: block;
    float: left;
    list-style: none;
}

.menu_a li{
    float: left;
    margin: 10px;
    padding: 2px;
}

.menu_a a{
    color: #F3F3F3;
    text-decoration: none;
}

img#logo{
    float:left;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50%;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

/*story Riss*/

.story {
    width: 100%;
    height: 300px;
    /*background: gray;*/
}

.znak {
    width: 40%;
    height: 300px;
    float: left;
    /*background: tomato;*/
}

.znak2 {
    float: left;
    width: 45%;
    height: 100%;
    /*background: url(img/logo.png);*/
}

.znak2 img {
    width: 70%;
    min-width: 150px;
    min-height: 150px;
    float: right;
    margin: 80px -100%;
    /*margin-left: -20%;*/
    /*margin-top: */
}

.about {
    width: 30%;
    height: 100px;
    float: left;
    text-align: justify;
    margin: 100px 20px 0 20px;
}


/*story and Riss*/


.work{
    text-align: center;
    padding: 200px 0;
}


#contant{
    width: 100%;
    height: 500px;
}




.block_3_m{
    background: papayawhip;
}

.block_4_m{
    background: lightblue;
}

.block_5_v{
    background: #a5e68c;
}


.block_6_a{
    background: #e6ae88;
}










/*Alex заказ*/



#block_7_a{
    display: none;
    width: 50%;
    height: 700px;
    background: rgba(225, 225, 225, 0.9);
    position: fixed;
    z-index: 9999;
    top: 0%;
    left: 50%;
    margin-left: -25%;
    margin-top: 10%;
    border: 2px solid #aa00ff;
    text-align: center;
}

#hover_a{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(9, 5, 59, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}


#block_7_a img{
    display: block;
    margin: 0 auto;
    padding: 0;
}



/*Кнопка заказа главная*/



#button_a{
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    right: -42px;
    top: 30%;
    z-index: 9999;
    padding: 10px 30px;
    background-color: rgba(71, 60, 137, 1);
    border: 0px;
    color: #ffffff;
    -moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
    transition: all 1s;
}



#button_a:hover{
    -moz-transform: rotate(0deg); /* Для Firefox */
    -ms-transform: rotate(0deg); /* Для IE */
    -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Для Opera */
    transform: rotate(0deg);
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #aa00ff;
    border: 1px solid #aa00ff;
}

/*Формы для заказа*/



#block_7_a input{
    text-align: center;
    font-family: roboto, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 50%;
    margin: 0 0 20px 0;
    border: 1px solid #aa00ff;
    transition: all 0.5s;
}

#block_7_a input:hover{
    background-color: rgba(71, 60, 137, 0.1);
    font-size: 22px;
    width: 55%;
    border: 2px solid #aa00ff;
}






#block_7_a .form_bottom{

    background-color: rgba(71, 60, 137, 1);
    border: 0px;
    color: #ffffff;
    width: 60%;
    transition: all 0.5s;
}



#block_7_a .form_bottom:hover{
    background-color: #ffffff;
    border: 1px solid #aa00ff;
    color: #aa00ff;
    }




#block_7_a .koment{
    width: 90%;
    height: 80px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5px;
}

#block_7_a .koment:hover{
    width: 90%;

}





#block_7_a label.error{
    position: absolute;
    bottom: 3%;
    right: 30%;
    z-index: 99999;
    background: #373737;
    color: #ffffff;
    width: 40%;
    padding: 5px;

}





















footer{
    width: 80%;
    position: relative;
    margin: 100px auto 50px auto;
    height: 30px;
    font-weight: bold;
    color: #6d6e71;

}







































/*Riss footer*/

.wrap{
    background: url(img/footer.jpg);
    display: block;
    width: 100%;
    height: 500px;
    clear: both;
    float: left;
}

.col-1 {
    display: inline-block;
    width: 50%;
    height: 200px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    color: white;
    font-size: 18px;
    /*background: cadetblue;*/
   }

    .col-3 {
   	width: 40%;
    height: 400px;
    float: right;
    margin: 50px 1.6666%;
    color: white;
    /*background: cadetblue;*/ 
   }

    iframe {
    	display: inline-block;
    	width: 48%;
    	height: 300px;
        -webkit-filter: grayscale(100%) contrast(120%);
        margin-top: 50px;
    }

    .two {
        display: inline-block;
        width: 45%;
        margin-top: 120px;
        padding: 15px;
        float: right;
        font-size: 14px;
    }

    .logo_footer {
        display: inline-block;
        width: 150px;
        float: left;
        margin-top: 85px;
        margin-left: 50px;
    }
    .right_footer {
        float: left;
        width: 500px;
        position: relative;
        bottom: -100px;
        left: 30px;
        text-align: justify;

    }









